.producto {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    border-radius: 20px;
    max-width: 250px;
    min-height: 380px;
    margin: 32px auto;
    padding: 16px;
    box-shadow: rgba(95, 97, 100, 0.2) 0px 8px 24px;
    text-align: left;
    display: grid;
}
.producto:hover {
    cursor:grab;
}
.producto img {
    object-fit: cover;
    height: 230px;
    width: 100%;
    margin: auto;
}
.product:last-child img {
    height: 200px;
}
.product-title {
    font-size: 1.5rem;
    color: var(--white);
}

.rate {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0;
    padding: 10px 0px;
    color: var(--white);
    align-self: flex-end;
}

.ship {
    color: #792F5F;
    font-size: .8rem;
    font-weight: bolder;
    align-self: flex-end;
}

@media screen and (max-width: 960px) {
    .product-title {
        font-size: 1rem;
    }
    .rate {
        font-size: .9rem;
    }
}