.nav {
    padding: 32px;
    margin: 0;
    list-style: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-lista {
    padding: 32px;
    margin: 0;
    list-style: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-link {
    background-color: #020202;
    padding: 8px 16px;
    text-decoration: none;
    color:#fff;
}

.nav-link:hover {
    color: #020202;
    background-color: lightgreen;
}